{% extends 'base.html'%} {% block content %} {% load static%}
<link href='{% static 'css/header.css' %}' rel='stylesheet'/> 
<!--About here-->
<section id="about">
  <div class="container">
    <div style="text-align: center">
      <h1 class="mb-10">Skin Assist- About Us</h1>
    </div>
  </div>

      <div class="bgm">
        <div
          class="index-section">
          <h5>Welcome to Skin-Assist</h5>
          <p>where we are dedicated to detect your skin diseases.</p>
          <h5>Our Team</h5>
          <p>
            Meet the individuals behind Skin Assit. We have passoniate and
            diverse team consisting of 6 memebers <br />
            named as Dhruv, Pranay, Laxmi, Anish, Pratiksha, Sahil.
          </p>
          <h5>Our Mission</h5>
          <p>
            At Skin Assist, our mission is to detect the skin diseases based on
            the image provided by the users<br />
            and also we provide nearest dermatologist,precautions and suggest
            home-remedies accordingly.
          </p>
        </div>
     
  </div>
</section>

{% endblock %}
