{% extends 'base.html'%} {% block content %} {% load static%}
<link href='{% static 'css/header.css' %}' rel='stylesheet'/> 
<section id="policy">
  <div class="container">
    <div style="text-align: center">
      <h1 class="mb-10">Skin Assist - Privacy Policy</h1>
    </div>
  </div>

  <div class="bgm">
    <div
      class="index-section"
    >
      <h1>Privacy Policy</h1>

      <h5>1.Acceptance of this Policy</h5>

      <p>
        By accessing, visiting or using our Services, you warrant and represent
        that you have read, understood and agreed to this Policy and our Terms
        of Service. If you disagree with anything in this Policy, you must not
        use or access the Services.
      </p>
      <h5>2. Amendments to this Policy</h5>
      <p>
        We may periodically make changes to this Policy as we update or expand
        our Services. If you do not agree to the changes, you should discontinue
        your use of the Services prior to the time the modified Policy takes
        effect. If you continue using the Services after the modified Policy
        takes effect, you will be bound by the modified Policy.
      </p>
      <h5>3.Your Content</h5>
      <p>
        When using some of our Services, you can create, post, upload or share
        content by providing us with access to your photos, media and files, and
        your device’s camera and microphone. You voluntarily provide this
        information to us.
      </p>
      <h5>4. How We Use Your Information</h5>
      <p>
        We use the information we collect for the following purposes: To provide
        and maintain the App's functionality. To improve the App and enhance
        your user experience. To respond to your requests and provide customer
        support. To send you updates, notifications, and promotional materials.
        To analyze and monitor the usage of the App.
      </p>
      <h5>5. Data Sharing</h5>
      <p>
        We do not sell, rent, or trade your personal information to third
        parties. We may share your information with service providers who assist
        us in delivering the App, but only to the extent necessary to provide
        those services.
      </p>
      <h5>5. Security</h5>
      <p>
        We take reasonable measures to protect your personal information.
        However, no method of transmission or storage is 100% secure. We cannot
        guarantee the security of your information.
      </p>
      <h5>6.Changes to this Privacy Policy</h5>
      <p>
        We reserve the right to update this Privacy Policy. Changes will be
        posted on the App. We encourage you to review this Privacy Policy
        periodically for any updates.
      </p>
      <h5>7.Contact Us</h5>
      <p>
        If you have any questions, concerns, or requests regarding your personal
        information or this Privacy Policy, please contact us at [contact email
        address].
      </p>
    </div>
  </div>
</section>

{% endblock %}
